.yui-skin-lightTheme .yui-button .first-child .should-save {
   animation-duration: 1s;
   animation-name: clignoter;
   animation-iteration-count: infinite;
   transition: none;
}

@keyframes clignoter {
  0%   { opacity:1; }
  40%   {opacity:0; }
  100% { opacity:1; }
}


.quickshare-node-action .onDownloadDocumentClick a.loading {
  background: transparent url("../images/lightbox/loading.gif") no-repeat scroll 12px 4px;
}


.document-versions .actions a.compare-overlay {
  background-image: url("../images/search-16.png");
}